@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  padding: 10px;
  font-size: 15pt;
  background: rgb(192, 40, 141);
  /* background-image: url(https://w0.peakpx.com/wallpaper/878/465/HD-wallpaper-earth-beach-sunset.jpg); */
  text-align: center;
  font-family: Poppins, sans-serif;
}

h1 {
  font-size: larger;
}

a{
    text-decoration: none;
    color: rgb(7, 7, 7);
}